# Mein tolles Notebook
## Einf√ºhrung

Hier will ich Programmieren lernen.

In [2]:
age = 120

In [3]:
first_name = "Peter"

In [4]:
print(age)

120

In [5]:
print(age, first_name)

120 Peter

In [6]:
age

120

In [7]:
first_name

'Peter'

In [10]:
print(first_name,"is", age, "years old")

Peter is 120 years old

In [11]:
age + 10

130

In [12]:
first_name [0]

'P'

In [13]:
first_name [0:3]

'Pet'

In [14]:
len(first_name)

5

In [23]:
x = 120
y = "Peter"

In [24]:
len(first_name)

5

In [25]:
type(first_name)

str

In [30]:
height = 190.345

In [26]:
type(height)

NameError: name 'height' is not defined

In [32]:
days_as_string = "141"

In [33]:
type(days_as_string)

str

In [35]:
days = int(days_as_string)

In [37]:
type(days_as_string)

str

In [38]:
days + 10

151

In [39]:
type(days)

int

In [41]:
len(first_name)

5

In [42]:
len()

TypeError: len() takes exactly one argument (0 given)

In [45]:
? print

In [46]:
? round

In [47]:
min((3,5,9,10))

3

In [48]:
max((3,5,9,10))

10

In [50]:
first_name.capitalize()

'Peter'

In [52]:
first_name.center()

TypeError: center() takes at least 1 argument (0 given)

In [53]:
first_name.upper()

'PETER'

In [55]:
first_name.count("e")

2

In [56]:
import string

In [57]:
sentence = "this does not make much sense."

In [59]:
sentence.capitalize()

'This does not make much sense.'

In [60]:
string.capwords(sentence)

'This Does Not Make Much Sense.'

In [61]:
first_name1 = "Peter"
first_name2 = "John"

In [67]:
first_names = ["Peter", "Franz", "Helene", "Lisa", "Gregor"]

In [69]:
first_names[0]

'Peter'

In [65]:
first_name[-1]

'Gregor'

In [66]:
first_name[3]

'Lisa'

In [70]:
first_names.append("Otto")

In [71]:
first_names

['Peter', 'Franz', 'Helene', 'Lisa', 'Gregor', 'Otto']

In [74]:
names_and_ages = {"Peter": 42, "Lisa": 60, "Franz": 24, "Otto": 66, "Helene": 140}

In [76]:
names_and_ages["Peter"]

42

In [77]:
names_and_ages["140"]

KeyError: '140'

In [78]:
first_names

['Peter', 'Franz', 'Helene', 'Lisa', 'Gregor', 'Otto']

In [79]:
for first_name in first_names
: print(first_name)

Peter
Franz
Helene
Lisa
Gregor
Otto

In [80]:
for x in first_names:
    print(x)

Peter
Franz
Helene
Lisa
Gregor
Otto

In [85]:
for x in first_names:
    print(x, "stinks")
    print("....")
print ("end")

Peter stinks
....
Franz stinks
....
Helene stinks
....
Lisa stinks
....
Gregor stinks
....
Otto stinks
....
end

In [86]:
temp = 18
if temp > 15:
    print("Es ist warm!")

Es ist warm!

In [92]:
temp = 7
if temp >= 15:
    print("Marton schwei√üelt!")
elif temp > 10:
    print("geht so!")
elif temp < 5:
    print("cold") 
else:
    print("DEO!!")

DEO!!

In [95]:
def clean_isbn():
    print("34678-32656-3234-345")

clean_isbn()
clean_isbn()
clean_isbn()

34678-32656-3234-345
34678-32656-3234-345
34678-32656-3234-345

In [97]:
def clean_isbn(isbn):
    print(isbn)

clean_isbn("345-65-7-354")

345-65-7-354

In [103]:
def clean_isbn(isbn):
    isbn = isbn.strip()
    isbn = "ISBN: " + isbn
    return isbn

cleaned_isbn = clean_isbn("  35213-w53-5667-456  ")

In [104]:
print(cleaned_isbn)

ISBN: 35213-w53-5667-456